.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.container-login-form
{
  display:inline-block;
  float:right;
}

#navbar ul li a:not(.acessar-btn) {
  text-transform: uppercase;
  font-size: 14px;
  color: grey;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 15px;
}

#navbar ul li a:hover:not(.acessar-btn) {
  background-color: #F4B67D;
  color: white;
}

.navbar-brand img {
    float: left;
    height: 160%;
    line-height: 20px;
}

.navbar-toggle {
  float: left;
}

.navbar-toggle .icon-bar {
  background-color: #DF6B04;
  border-radius: 8px;
}

.login-form{
  margin-top: 15px;
  margin-left: 15px;
}

/* INICIO INPUT PERSONALIZADO */
.login-form input {
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  color: #969696;
  width: 80px;
  margin: 0;
  background-color: #f8f8f8;
}

.container-esqueci-senha
{
  margin-left:73px;
}


.login-form input.email{
  width: 120px;
}

.login-form input:focus, .login-form input.focus {
  border-bottom: solid 2px #DF6B04;
  font-size: 12px;
  color: #000;
}

::-webkit-input-placeholder { color: #969696; }
:-moz-placeholder { color: #969696; }
::-moz-placeholder { color: #969696; }
:-ms-input-placeholder { color: #969696; }
/* FIM INPUT PERSONALIZADO */

.login-form-item {
  float: left;
  margin-right: 4px;
}

.login-form .acessar-btn {
  margin-top: 10px;
  color: white;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  font-size: 10px;
}

.login-recuperar {
  position: absolute;
  top: -20px;
  left: 35px;
  font-weight: bold;
  font-size: 10px;
  color: black;
}

.conta-btn {
  border: 1px solid #DF6B04;
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding: 5px 3px 5px 3px;
}

.conta-btn:hover {
  background-color: #DF6B04;
  color: white;
  padding: 5px 3px 5px 3px;
}


@media (max-width: 1366px)
{
  #navbar ul li a:not(.acessar-btn) {
    font-size: 11px;
  }

  .login-form input.email
  {
    width: 100px;
  }

  .login-form
  {
    margin-left:1px;
  }

  .login-form .acessar-btn
  {
    padding: 5px 5px 5px 5px;
  }
}