@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/scripts/PerfilTela.js"></script>*@
<div id="main" class="container">
    <input id="BaseURL" hidden="hidden" name="BaseURL" value="@ViewBag.BaseUrl" />
    <input id="antiForgeryToken" ng-model="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    <h1>Bem vindo ao Gerenciador de Aditamento</h1>
    <hr>

</div>
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}