@{
    ViewBag.Title = "Acesso Negado.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input id="BaseURL" hidden="hidden" name="BaseURL" value="@ViewBag.BaseUrl" />
<div class="row">
    <div class="main-error mb-xlg">
        <h1 class="error-code text-grey text-center text-weight-semibold m-none">403 <i class="fa fa-exclamation-triangle"></i></h1>
        <h1 class="error-code text-grey text-center text-weight-semibold m-none">Você não tem permissão para acessar esta página.</h1>
    </div>
</div>
