/* Base */
a,
.btn-link {
    color: #0088cc;
}

.panelbodyHide2 {
    margin: -160px 0 0 20px !important;
}

.container-body {
    margin:-90px 0 0 0;

}

.DivClient { padding: 5px 0 5px 0; width:100%;
}

.BtnSave {
    padding: 20px 60px 20px 60px !important;
}

.sidebarHide {
    margin: -80px 0 0 0 !important;
}

.resulttax td {
    padding: 10px !important;
}

.resulttax th {
    padding: 10px !important;
}

.tdorange {
    background: #8B2252; /*#f47920;*/
    color: #fff;
    font-weight: bold;
}

.tdRed {
    background: #d9524e;
    color: #fff;
    font-weight: bold;
}

.BdataTable th {
    background: #515151;
    color: #fff;
}

#teste {
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #000;
}

#left {
    float: left;
    width: 100%;
    padding: 10px 0 0 10px;
}

#right {
    width: 30%;
    margin-left: 11em;
    background-color: #d1322e;
    color: #fff;
    border-radius: 4px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    height: 200px;
}

.containerTax {
    display: flex;
    flex-wrap: wrap;
    float: right;
    height: 40px;
    min-width: 450px;
    max-width: 450px;
}

.containerTaxAction {
    display: flex;
    flex-wrap: wrap;
    float: right;
    height: 40px;
    min-width: 100px;
    max-width: 100px;
}

.containerTaxModal {
    display: flex;
    flex-wrap: wrap;
    float: right;
    height: 40px;
    min-width: 450px;
    max-width: 450px;
}

.DivformRating {
    float: left;
    width: 45%;
    margin: 0 20px 0 20px;
}

.rowsuit {
    padding: 0 0 10px 0;
}

.headerDivider {
    content: "";
    display: inline-block;
    width: 0px;
    height: 600px;
    border-right: 1px solid #ecedf0;
    border-left: 1px solid #c7c7c7;
    float: left;
    padding: 0 0 0 0;
}

.form-controlFile {
    width: 200px !important;
}

.colunSpace {
    width: 100%;
}

.colunSpace2 {
    width: 100%;
}

    .colunSpace2 .control-label {
        padding-bottom: 10px;
    }

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    } 

    

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


.one,
.two,
.oneModal,
.twoModal {
    flex: 1 1 49%;
}

.one, .oneModal {
    background-color: #3b3b3b;
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    border-left: 1px solid #3b3b3b;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.two, .twoModal {
    background-color: #105980; /*#f47920;*/
    border-top: 1px solid #ff6a00;
    border-bottom: 1px solid #ff6a00;
    border-right: 1px solid #ff6a00;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.one p, .oneModal p {
    padding: 10px 0 0 20px;
    font-size: 18px;
    color: #fff;
}

.two p, .twoModal p {
    padding: 10px 0 0 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
}



a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
    color: #0099e6;
}

a:active,
.btn-link:active {
    color: #0077b3;
}
/* Sidebar Left */
.sidebar-left .sidebar-header .sidebar-toggle:hover i {
    color: #0088cc;
}

.footer {
    text-align: right;
    padding: 0 60px 0 0;
    position:fixed;
	bottom:0;
	width:100%;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #777777;
    display: block;
    padding: 5px;
    position: relative;
}

.derivativos {
    position: relative;
    width: 45%;
    float: left;
    margin: 0 40px 0 20px;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #105980; /*#f47920;*/
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border-radius: 5px;
}

.derivativosBorderBlue {
    border-top: 3px solid #506dff;
}

.derivativosBorderGreen {
    border-top: 3px solid #5dff9e;
}

.derivativosBorderPurple {
    border-top: 3px solid #ee5fff;
}

.derivativos p {
    padding: 10px 10px 10px 20px;
}

.headercolor { background: #616161; color:#fff;
}

@media only screen and (min-width: 768px) {
    html.sidebar-left-collapsed.scroll .sidebar-left .nav-main li.nav-active a:hover,
    html.sidebar-left-collapsed.boxed .sidebar-left .nav-main li.nav-active a:hover {
        color: #0088cc;
    }

    html.sidebar-left-collapsed.scroll .sidebar-left .nav-main > li:hover > a span.label,
    html.sidebar-left-collapsed.boxed .sidebar-left .nav-main > li:hover > a span.label {
        background-color: #0088cc;
    }
}
/* Layout Boxed - small than min-width */
@media only screen and (max-width: 1199px) {
    html.boxed .header {
        border-top-color: #0088cc;
    }
}/* Layout Boxed - larger or equal min width */
/* Layout Boxed - larger or equal min width */
@media only screen and (min-width: 1200px) {
    html.boxed .header {
        border-top-color: #0088cc;
    }

    html.boxed .sidebar-right {
        border-top-color: #0088cc;
        min-height: 0;
    }
}
/* Userbox - Open */
/* Userbox - Open */
.userbox.open .dropdown-menu a:hover {
    background: #0088cc;
}
/* Mailbox */
.mailbox .mailbox-mail-list li.active {
    background: #0088cc;
}

.mailbox .mailbox-mail .mailbox-close-mail {
    color: #0088cc;
}

    .mailbox .mailbox-mail .mailbox-close-mail:hover {
        color: #0099e6;
    }

.mailbox .mailbox-mail .panel .panel-heading .panel-actions a:hover {
    color: #0088cc;
}
/* Media Gallery */
.media-gallery ul.mg-tags > li a:hover {
    background-color: #0088cc;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom {
    background-color: #0088cc;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-toolbar {
    background-color: #0088cc;
}

.media-gallery .mg-files .thumbnail.thumbnail-selected {
    box-shadow: 0 0 8px -1px #0088cc;
}
/* Sign Screens - Wrappers */
.body-sign .panel-sign .panel-title-sign .title {
    background-color: #0088cc;
}

.body-sign .panel-sign .panel-body {
    border-top-color: #0088cc;
}
/* Lock Screen */
.body-locked .current-user .user-image {
    border-color: #0088cc;
}
/* Blockquote */
blockquote.primary {
    border-color: #0088cc;
}
/* Nav Pills */
.nav-pills-primary > li a:hover,
.nav-pills-primary > li a:focus {
    color: #0088cc;
    background-color: #cceeff;
}

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:active,
.nav-pills-primary > li.active > a:focus {
    background-color: #0088cc;
}
/* Dropdown Menu */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #0088cc;
}

.open > .dropdown-toggle.btn-primary {
    background: #0088cc;
    border-color: #0077b3;
}

body .btn-primary.dropdown-toggle {
    border-left-color: #00a3f5;
}
/* Buttons */
body .btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #105980; /*#f47920;*/
    border-color: #ff6a00;
}

.btn-primarySave {
    color: #ffffff;
    /*padding: 15px 70px 15px 70px !important;*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 16px;
    background-color: #105980; /*#f47920;*/
    /*margin: 0 0 0 500px;*/
    border-color: #ff6a00;
}

    body .btn-primary:hover {
        border-color: #ff6a00 !important;
        background-color: #fdac72;
    }

body .btn-primary:active,
body .btn-primary:focus {
    border-color: #ff6a00 !important;
    background-color: #105980; /*#f47920;*/
}

    body .btn-primary[disabled] {
        border-color: #ababab !important;
        background-color: #c3c3c3;
        color:#fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

body .btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #47a447;
    border-color: #47a447;
}

    body .btn-success:hover {
        border-color: #51b451 !important;
        background-color: #51b451;
    }

    body .btn-success:active,
    body .btn-success:focus {
        border-color: #3f923f !important;
        background-color: #3f923f;
    }

    body .btn-success[disabled] {
        border-color: #86cb86 !important;
        background-color: #86cb86;
    }

body .btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #105980; /*#ed9c28;*/
    border-color: #ed9c28;
}

    body .btn-warning:hover {
        border-color: #105980 !important;
        background-color: #105980;
    }

    body .btn-warning:active,
    body .btn-warning:focus {
        border-color: #e89113 !important;
        background-color: #e89113;
    }

    body .btn-warning[disabled] {
        border-color: #f5c786 !important;
        background-color: #f5c786;
    }

body .btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #d2322d;
    border-color: #d2322d;
}

    body .btn-danger:hover {
        border-color: #d64742 !important;
        background-color: #d64742;
    }

    body .btn-danger:active,
    body .btn-danger:focus {
        border-color: #bd2d29 !important;
        background-color: #bd2d29;
    }

    body .btn-danger[disabled] {
        border-color: #e48481 !important;
        background-color: #e48481;
    }

body .btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #515151;
    border-color: #2f3139;
}

    body .btn-info:hover {
        border-color: #e96302 !important;
        background-color: #105980; /*#f47920;*/
    }

    body .btn-info:active,
    body .btn-info:focus {
        border-color: #46b8da !important;
        background-color: #46b8da;
    }

    body .btn-info[disabled] {
        border-color: #ababab !important;
        background-color: #c3c3c3;
        color:#fff;
        text-shadow:20px #fff
    }

body .btn-dark {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #171717;
    border-color: #171717;
}

    body .btn-dark:hover {
        border-color: #242424 !important;
        background-color: #242424;
    }

    body .btn-dark:active,
    body .btn-dark:focus {
        border-color: #0a0a0a !important;
        background-color: #0a0a0a;
    }

    body .btn-dark[disabled] {
        border-color: #4a4a4a !important;
        background-color: #4a4a4a;
    }
/* Switch*/
.switch.switch-primary .ios-switch .on-background {
    background: #0088cc;
}
/* Label */
.label-primary {
    background: #0088cc;
}
/* Text Primary */
.text-primary {
    color: #0088cc !important;
}
/* BG Primary */
.bg-primary {
    background: #0088cc;
}
/* Alternative Font Style */
.alternative-font {
    color: #0088cc;
}
/* Hightlight */
.highlight {
    background-color: #0088cc;
}
/* Drop Caps */
p.drop-caps.colored:first-child:first-letter {
    color: #0088cc;
}

p.drop-caps.colored.secundary:first-child:first-letter {
    background-color: #0088cc;
}
/* Well */
.well.primary {
    background: #0088cc;
    border-color: #006699;
}
/* Form */
.form-control:focus {
    border-color: #33bbff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
}
/* Header */
.header .toggle-sidebar-left {
    background: #0088cc;
}
/* Page Header */
.page-header h2 {
    border-bottom-color: #105980; /*#f47920;*/
}

.MenuLeft li {
    color: #c3c3c3;
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    vertical-align: middle;
    padding: 15px 5px 0 10px;
    width: 100px;
    height: 50px;
}

    .MenuLeft li a:hover {
        background: #c3c3c3;
    }

.MenuLeft {
    float: left;
}

#input_Ativo {
    background: #105980; /*#f47920;*/
    padding: 10px 0 10px 0;
    color: #fff;
    cursor: pointer;
    width: 230px;
    border: 1px solid #ea6e15;
    border-radius: 3px;
}

    #input_Ativo span {
        color: #fff;
        font-size: 14px;
        font-family: sans-serif;
        padding: 0 0 0 0;
        line-height: 20px;
    }

    #input_Ativo:hover {
        background: #fdac72;
        border: 1px solid #105980; /*#f47920;*/
        color: #fff;
    }

#input_Passivo {
    background: #105980; /*#f47920;*/
    padding: 10px 0 10px 0;
    color: #fff;
    cursor: pointer;
    width: 230px;
    border: 1px solid #ea6e15;
    border-radius: 3px;
}

    #input_Passivo span {
        color: #fff;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 20px;
    }

    #input_Passivo:hover {
        background: #fdac72;
        border: 1px solid #105980; /*#f47920;*/
        color: #fff;
    }


#input_Resultado {
    background: #105980; /*#f47920;*/
    padding: 10px 0 10px 0;
    color: #fff;
    cursor: pointer;
    width: 230px;
    border: 1px solid #ea6e15;
    border-radius: 3px;
}

    #input_Resultado span {
        color: #fff;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 20px;
    }

    #input_Resultado:hover {
        background: #fdac72;
        border: 1px solid #105980; /*#f47920;*/
        color: #fff;
    }

#input_EvolucaoPatrimonial {
    background: #105980; /*#f47920;*/
    padding: 10px 0 10px 0;
    color: #fff;
    cursor: pointer;
    width: 230px;
    border: 1px solid #ea6e15;
    border-radius: 3px;
}

    #input_EvolucaoPatrimonial span {
        color: #fff;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 20px;
    }

    #input_EvolucaoPatrimonial:hover {
        background: #fdac72;
        border: 1px solid #105980; /*#f47920;*/
        color: #fff;
    }

#input_GeracaoRecursos {
    background: #105980; /*#f47920;*/
    padding: 10px 0 10px 0;
    color: #fff;
    cursor: pointer;
    width: 230px;
    border: 1px solid #ea6e15;
    border-radius: 3px;
}

    #input_GeracaoRecursos span {
        color: #fff;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 20px;
    }

    #input_GeracaoRecursos:hover {
        background: #fdac72;
        border: 1px solid #105980; /*#f47920;*/
        color: #fff;
    }







.forminput {
    text-align: right;
    margin-bottom: -20px;
    padding-top: 7px;
}

ul.menu li {
    float: left;
    background: #515151;
    padding: 0px;
    line-height: 30px;
    list-style: none;
}

    ul.menu li a {
        display: block;
        padding: 10px 30px;
        color: #c3c3c3;
        font-size: 17px;
        font-family: sans-serif,arial;
        text-decoration: none;
    }

        ul.menu li a:hover, ul.menu li:hover {
            color: #fff;
            background: #105980; /*#f47920;*/
            border-top-color: #5db1e0 !important;
            border-left-color: #5db1e0;
        }

.page-header .sidebar-right-toggle:hover {
    color: #0088cc;
}
/* Navigation */
ul.nav-main > li.nav-active > a {
    box-shadow: 2px 0 0 #0088cc inset;
}

ul.nav-main > li.nav-active > i {
    color: #0088cc;
}

ul.nav-main li .nav-children li.nav-active > a {
    color: #0088cc;
}
/* Nano Scroller Plugin */
html.no-overflowscrolling .nano > .nano-pane > .nano-slider {
    background: #0088cc;
}
/* Nav Pills */
.nav-pills > .active a,
.nav-pills > .active a:hover,
.nav-pills > .active a:focus {
    background-color: #0088cc;
}
/* Pagination */
.pagination > li a {
    color: #FFF;
}

    .pagination > li a:hover,
    .pagination > li a:focus {
        color: #fff;
        background-color: #105980; /*#f47920;*/
        border-color: #ff6a00;
    }

.pagination > li.active a,
.pagination > li.active span,
.pagination > li.active a:hover,
.pagination > li.active span:hover,
.pagination > li.active a:focus,
.pagination > li.active span:focus {
    background-color: #515151;
    border-color: #3c3b3b;
}

.pagination > li.active a {
    background-color: #105980; /*#f47920;*/
}

html .pagination > li.active a,
html.dark .pagination > li.active a,
html .pagination > li.active span,
html.dark .pagination > li.active span,
html .pagination > li.active a:hover,
html.dark .pagination > li.active a:hover,
html .pagination > li.active span:hover,
html.dark .pagination > li.active span:hover,
html .pagination > li.active a:focus,
html.dark .pagination > li.active a:focus,
html .pagination > li.active span:focus,
html.dark .pagination > li.active span:focus {
    background-color: #105980; /*#f47920;*/
    border-color: #ff6a00;
}

html .pagination > li.active a,
html.dark .pagination > li.active a {
    background-color: #105980; /*#f47920;*/
}
/* Fullcalendar */
.fc .fc-widget-header {
    background: #0088cc;
    border-color: #0088cc;
}

.fc .fc-header-title h2:before {
    color: #0088cc;
}

.fc-event {
    background: #0088cc;
    border-color: #0088cc;
}

    .fc-event.fc-event-primary {
        background: #0088cc;
        border-color: #0088cc;
    }
/* Maps */
.jqvmap-zoomin,
.jqvmap-zoomout {
    background: #0088cc;
}
/* Timeline */
.timeline .tm-items > li .tm-datetime .tm-datetime-time {
    color: #0088cc;
}

.timeline .tm-items > li .tm-icon {
    border-color: #0088cc;
    color: #0088cc;
}

.timeline.timeline-simple .tm-body .tm-items > li:before {
    background: #0088cc;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #0088cc;
}

html.dark .timeline.timeline-simple .tm-body .tm-items > li:before {
    background: #0088cc;
    box-shadow: 0 0 0 3px #2e353e, 0 0 0 6px #0088cc;
}
/* Princing Table */
.pricing-table h3 span {
    color: #0088cc;
}

.pricing-table .most-popular h3 {
    background-color: #0088cc !important;
    color: #ffffff !important;
}
/* Data Tables Loading */
.dataTables_processing {
    background-color: #0088cc;
}
/* Accordion */
.panel-group .panel-accordion .panel-heading a {
    color: #0088cc;
}
/* Alerts */
.alert-primary {
    background-color: #0088cc;
    border-color: #007ebd;
}

    .alert-primary .alert-link {
        color: #004466;
    }
/* Nestable */
.dd-handle:hover {
    color: #0088cc !important;
}

.dd-placeholder {
    background: #e6f7ff;
    border-color: #0088cc;
}
/* Panels */
.panel-highlight .panel-heading {
    background-color: #0088cc;
    border-color: #0088cc;
}

.panel-highlight .panel-body {
    background-color: #0088cc;
}

html .panel-primary .panel-heading {
    background: #0088cc;
    border-color: #0088cc;
}

.panel-heading.bg-primary {
    background: #0088cc;
}

.panel-body.bg-primary {
    background: #0088cc;
}

.panel-featured-primary {
    border-color: #105980; /*#f47920;*/
}

    .panel-featured-primary .panel-title {
        color: #515151;
    }

.panel-heading-icon.bg-primary {
    background: #0088cc;
}

.panel-group .panel-accordion-primary .panel-heading .panel-title a {
    background: #0088cc;
}
/* Progress Bar */
.progress-bar {
    background-color: #0088cc;
}

.progress .progress-bar-primary {
    background-color: #0088cc;
}
/* Toggle */
.toggle label {
    border-left-color: #0088cc;
    color: #0088cc;
}

.toggle.active > label {
    background: #0088cc !important;
    border-color: #0088cc;
}
/* Treeview */
.jstree-default .jstree-hovered {
    background-color: #e6f7ff !important;
}

.jstree-default .jstree-clicked {
    background-color: #b3e5ff !important;
}

.jstree-default .colored {
    color: #0088cc !important;
}

    .jstree-default .colored .jstree-icon {
        color: #0088cc !important;
    }

.jstree-default .colored-icon .jstree-icon {
    color: #0088cc !important;
}
/* Widgets */
.sidebar-widget.widget-tasks ul li:before {
    border-color: #0088cc;
}

.widget-twitter-profile {
    background-color: #0088cc;
}

    .widget-twitter-profile .profile-quote {
        background-color: #0096e0;
    }

        .widget-twitter-profile .profile-quote .quote-footer {
            border-top-color: rgba(0, 170, 255, 0.7);
        }

.widget-profile-info .profile-info .profile-footer {
    border-top-color: rgba(0, 170, 255, 0.7);
}
/* Thumb Info */
.thumb-info .thumb-info-type {
    background-color: #0088cc;
}
/* Social Icons */
.social-icons-list a {
    background: #0088cc;
}
/* Notifications */
.notifications .notification-menu .notification-title {
    background: #0088cc;
}

    .notifications .notification-menu .notification-title .label-default {
        background-color: #006699;
    }

.notifications .notification-menu:before,
.notifications .notification-icon:before {
    border-bottom-color: #0088cc;
}

.ui-pnotify .notification-primary {
    background: rgba(0, 136, 204, 0.95);
}

.ui-pnotify.stack-bar-top .notification-primary,
.ui-pnotify.stack-bar-bottom .notification-primary {
    background: #0088cc;
}

.ui-pnotify.notification-primary .notification,
.ui-pnotify.notification-primary .notification-primary {
    background: rgba(0, 136, 204, 0.95);
}

.ui-pnotify.notification-primary.stack-bar-top .notification,
.ui-pnotify.notification-primary.stack-bar-bottom .notification,
.ui-pnotify.notification-primary.stack-bar-top .notification-primary,
.ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
    background: #0088cc;
}
/* Modal */
.modal-block-primary .fa {
    color: #0088cc;
}

.modal-block-primary.modal-header-color .panel-heading {
    background-color: #0088cc;
}

.modal-block-primary.modal-full-color .panel {
    background-color: #00a3f5;
}

.modal-block-primary.modal-full-color .panel-heading {
    background-color: #0088cc;
}

.modal-block-primary.modal-full-color .panel-footer {
    background-color: #00a3f5;
}
/* Modal Icon */
.modal-block-primary .modal-icon .fa {
    color: #0088cc;
}
/* Tabs */
html body .tabs-primary .nav-tabs li a,
html.dark body .tabs-primary .nav-tabs li a,
html body .tabs-primary .nav-tabs.nav-justified li a,
html.dark body .tabs-primary .nav-tabs.nav-justified li a,
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    color: #0088cc;
}

    html body .tabs-primary .nav-tabs li a:hover,
    html.dark body .tabs-primary .nav-tabs li a:hover,
    html body .tabs-primary .nav-tabs.nav-justified li a:hover,
    html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
        border-top-color: #0088cc;
    }

html body .tabs-primary .nav-tabs li.active a,
html.dark body .tabs-primary .nav-tabs li.active a,
html body .tabs-primary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a,
html body .tabs-primary .nav-tabs li.active a:hover,
html.dark body .tabs-primary .nav-tabs li.active a:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary .nav-tabs li.active a:focus,
html.dark body .tabs-primary .nav-tabs li.active a:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
    border-top-color: #0088cc;
    color: #0088cc;
}

html body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover {
    border-bottom-color: #0088cc;
}

html body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
    border-top-color: #FFF;
    border-bottom-color: #0088cc;
}

html body .tabs-primary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li a:hover {
    border-left-color: #0088cc;
}

html body .tabs-primary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus {
    border-left-color: #0088cc;
}

html body .tabs-primary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li a:hover {
    border-right-color: #0088cc;
}

html body .tabs-primary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:focus {
    border-right-color: #0088cc;
}
/* Simple List */
ul.simple-bullet-list li:before {
    border-color: #0088cc;
}
/* Simple Card List */
.simple-card-list li.primary {
    background: #0088cc;
}
/* Search Results */
.search-content .search-toolbar .nav-pills li.active a {
    color: #0088cc;
    border-bottom-color: #0088cc;
}

.search-results-list .result-thumb .fa {
    background: #0088cc;
}
/* Scrollable */
.scrollable.colored-slider .scrollable-slider {
    background: #0088cc;
}

html.dark .search-content .search-toolbar .nav-pills li.active a,
html.dark .search-content .search-toolbar .nav-pills li.active a:hover,
html.dark .search-content .search-toolbar .nav-pills li.active a:focus {
    color: #0088cc;
    border-bottom-color: #0088cc;
}
/* Time Picker */
.bootstrap-timepicker-widget table td a:hover {
    background-color: #0088cc;
}
/* Loading Progress */
#nprogress .bar {
    background: #0088cc;
}

#nprogress .peg {
    box-shadow: 0 0 10px 1px #0088cc, 0 0 5px #0088cc;
}
/* Chartist */
.ct-chart .tooltip {
    background: #0088cc;
}

    .ct-chart .tooltip:after {
        border-top-color: #0088cc;
    }

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: #0088cc;
}

.ct-chart .ct-series.ct-series-a .ct-area,
.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
    fill: #0088cc;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #005580;
}

.ct-chart .ct-series.ct-series-b .ct-area,
.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
    fill: #005580;
}

.ct-chart .ct-series.ct-series-i .ct-bar,
.ct-chart .ct-series.ct-series-i .ct-line,
.ct-chart .ct-series.ct-series-i .ct-point,
.ct-chart .ct-series.ct-series-i .ct-slice.ct-donut {
    stroke: #005580;
}

.ct-chart .ct-series.ct-series-i .ct-area,
.ct-chart .ct-series.ct-series-i .ct-slice:not(.ct-donut) {
    fill: #005580;
}

.ct-chart .ct-series.ct-series-j .ct-bar,
.ct-chart .ct-series.ct-series-j .ct-line,
.ct-chart .ct-series.ct-series-j .ct-point,
.ct-chart .ct-series.ct-series-j .ct-slice.ct-donut {
    stroke: #1ab2ff;
}

.ct-chart .ct-series.ct-series-j .ct-area,
.ct-chart .ct-series.ct-series-j .ct-slice:not(.ct-donut) {
    fill: #1ab2ff;
}

.ct-chart .ct-series.ct-series-n .ct-bar,
.ct-chart .ct-series.ct-series-n .ct-line,
.ct-chart .ct-series.ct-series-n .ct-point,
.ct-chart .ct-series.ct-series-n .ct-slice.ct-donut {
    stroke: #00111a;
}

.ct-chart .ct-series.ct-series-n .ct-area,
.ct-chart .ct-series.ct-series-n .ct-slice:not(.ct-donut) {
    fill: #00111a;
}

.ct-chart .ct-series.ct-series-o .ct-bar,
.ct-chart .ct-series.ct-series-o .ct-line,
.ct-chart .ct-series.ct-series-o .ct-point,
.ct-chart .ct-series.ct-series-o .ct-slice.ct-donut {
    stroke: #80d4ff;
}

.ct-chart .ct-series.ct-series-o .ct-area,
.ct-chart .ct-series.ct-series-o .ct-slice:not(.ct-donut) {
    fill: #80d4ff;
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
    background: #0088cc;
    border-color: #0077b3;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
    color: #0088cc;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
    background: #000;
    -webkit-box-shadow: 0px 0px 1px #0088cc;
    box-shadow: 0px 0px 1px #0088cc;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
    background: #0088cc;
}
/* Progress Bar */
.progress-bar {
    background-color: #0088cc;
}

.progress .progress-bar-primary {
    background-color: #0088cc;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
    background: #0088cc;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(left, #00aaff 0, #0088cc 50%, #006699 100%);
    background-image: linear-gradient(left, #00aaff 0, #0088cc 50%, #006699 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(to right, #00aaff 0, #0088cc 50%, #006699 100%);
    background-image: linear-gradient(to right, #00aaff 0, #0088cc 50%, #006699 100%);
}
/* DatePicker */
.datepicker table {
    width: 100%;
}

    .datepicker table thead tr th.prev:hover,
    .datepicker table thead tr th.next:hover {
        background: #0088cc;
    }

    .datepicker table thead tr:first-child th:hover {
        background: #0088cc;
    }

    .datepicker table tr td span:hover {
        background: #0088cc;
    }

    .datepicker table tr td.day:hover {
        background: #0088cc;
    }

    .datepicker table tfoot tr th:hover {
        background: #0088cc;
    }
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
    background: #0088cc;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
    background: #0088cc;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
    background: #0088cc;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
    background-color: #0088cc;
}

    .datepicker.datepicker-primary table thead tr:first-child th:hover {
        background-color: #006699;
    }

.datepicker.datepicker-primary table thead tr:last-child {
    background-color: #0099e6;
}

    .datepicker.datepicker-primary table thead tr:last-child th:hover {
        background-color: #0088cc;
    }

.datepicker.datepicker-primary table tbody tr td.day:hover {
    background: #0088cc;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
    background: #0088cc;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
    background: #0088cc;
}
/* Wizard */
.wizard-steps > li.active .badge {
    background-color: #0088cc;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
    border-top-color: #0088cc;
}

.wizard-tabs ul > li.active .badge {
    background-color: #0088cc;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    background: #0088cc;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    border-color: #0088cc;
    background: #0088cc;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    color: #0088cc;
    border-color: #0088cc;
}

/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
    background-color: #0088cc;
}
/* Data Tables Loading */
.dataTables_processing {
    background-color: #0088cc;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
    color: #0088cc;
}

.tituloForm {
    background: #fdfdfd;
    width: 97%;
    margin: -50px 0 40px 20px;
    padding: 5px 10px 5px 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border-radius: 5px;
}

    .tituloForm span {
        margin: 0 0 0 0;
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }

.txtdescricao {
    width: 100%;
    height: 20px;
}

.inputDescicao {
    width: 100%;
    height: 250px;
}

.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #515151;
    border-radius: 5px;
    border: 1px solid #167F92;
}

    .responstable tr {
        border: 1px solid #D9E4E6;
    }


        .responstable tr:nth-child(odd) {
            background-color: #ecedf0;
        }

    .responstable th {
        display: none;
        border: 1px solid #FFF;
        background-color: #515151;
        color: #FFF;
        padding: 1em;
    }

        .responstable th:first-child {
            display: table-cell;
            text-align: center;
        }

        .responstable th:nth-child(2) {
            display: table-cell;
        }

            .responstable th:nth-child(2) span {
                display: none;
            }

            .responstable th:nth-child(2):after {
                content: attr(data-th);
            }

@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }

    .responstable th:nth-child(2):after {
        display: none;
    }
}

.responstable td {
    display: block;
    word-wrap: break-word;
    line-height: 15px !important;
    /*max-width: 7em;*/
}

    .responstable td input {
        width: 90%;
        height: 20px;
        padding: 1px;
        border: solid 1px gainsboro;
        border-radius: 4px;
        -webkit-transition: box-shadow 0.3s, border 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
    }

.responstable input:focus,
.responstable input.focus {
    border: solid 1px #f37a1f;
    box-shadow: 0 0 5px 1px #fb9751;
}

.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}

.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 2px;
    }
}

#btnInput {
    float: right;
    margin: 5px 20px 0 0;
    padding: 10px 40px 10px 40px;
}

.txtSearch textarea {
    float: left;
    overflow: auto;
    clear: both;
    position: relative;
}

#dvInput h3 {
    color: #000;
}

#dvFluxo h3 {
    color: #000;
}

#dvHighlight {
    color: #000;
}

.InputDefault { width:100%;
}

.iconColor {
    color: #ff871b;
    padding-right: 5px;
}

.TotalizadorColor {
    width: 215px;
    background: #ffc296;
    color: #515151;
    font-weight: bold;
}

.TotGrupotr {
    background: #ff871b;
}

.TotGrupotd01 {
    width: 215px;
}

.TotGrupospan {
    color: #fff;
    font-weight: bold;
}

.TotGrupotd02 {
    background: #616161;
}

.TotGrupotd03 {
    background: #d2d2d2;
}

.foreachtd {
    width: 215px;
}




#dvAtivo h3 {
    color: #000;
}

#dvPassivo h3 {
    color: #000;
}

#dvDRE {
    color: #000;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

.hideclass {
    visibility:hidden !important;
}

.titlelogin {
background:white !important;}

.pnbody {
border-top-color:white !important;}


.buttonlogin {
    background: #105980 !important; /*#f47920;*/
    border: 1px solid #e46000 !important;
    padding: 20px 60px 20px 60px;
    margin: 0 0 0 -200px !important;
}

    .buttonlogin:hover {
        background: #3A5693 !important /*#6f2d35 !important*/
    }

.tablemoeda tr td {
    padding: 2px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0 !important;

}

table.TbAlignAll { table-layout:fixed; }
table.TbAlignAll td { overflow: hidden; }

.tablecommoditiesright {
min-height:355px;}

.tablecotacao {
    padding: 0 0 0 0 !important;
    background: #f7f7f7;
     min-height: 240px;
    border-radius: 5px;}


.compactstyle {padding: 0 0 0 0 !important;
}

.rowlogin {margin-right: 0;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.boletoTh th {
background: #717171;
color:#fff;
border-left:1px solid #c3c3c3;
}

.boletoTh table td {
padding:0 !important;
}

.boletoTh.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:3px !important;
}



.rowboletador {
	width: 1350px;
    background:#0088cc;
}

.tudo1 {
width: 600px;
}
.tudo2 {
width: 200px;
margin-left: 10px;
}

.tudo3 {
width: 200px;
}



.responstablefluxo {
    margin: 1em 0;
    width: 55%;
    overflow: hidden;
    background: #FFF;
    color: #515151;
    border-radius: 5px;
    border: 1px solid #000;
}

    .responstablefluxo tr {
        border: 1px solid #D9E4E6;
    }


        .responstablefluxo tr:nth-child(odd) {
            background-color: #ecedf0;
        }

    .responstablefluxo th {
        display: none;
        border: 1px solid #FFF;
        background-color: #515151;
        color: #FFF;
        padding: 1em;
    }

        .responstablefluxo th:first-child {
            display: table-cell;
            text-align: center;
        }

        .responstablefluxo th:nth-child(2) {
            display: table-cell;
        }

            .responstablefluxo th:nth-child(2) span {
                display: none;
            }

            .responstablefluxo th:nth-child(2):after {
                content: attr(data-th);
            }

@media (min-width: 480px) {
    .responstablefluxo th:nth-child(2) span {
        display: block;
    }

    .responstablefluxo th:nth-child(2):after {
        display: none;
    }
}

.responstablefluxo td {
    display: block;
    word-wrap: break-word;
    line-height: 15px !important;
    max-width: 7em;
}

    .responstablefluxo td input {
        width: 90%;
        height: 20px;
        padding: 1px;
        border: solid 1px gainsboro;
        border-radius: 4px;
        -webkit-transition: box-shadow 0.3s, border 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
    }

.responstablefluxo input:focus,
.responstablefluxo input.focus {
    border: solid 1px #f37a1f;
    box-shadow: 0 0 5px 1px #fb9751;
}

.responstablefluxo td:first-child {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
    .responstablefluxo td {
        border: 1px solid #D9E4E6;
    }
}

.responstablefluxo th, .responstablefluxo td {
    text-align: left;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .responstablefluxo th, .responstablefluxo td {
        display: table-cell;
        padding: 2px;
    }
}

.spacingteste {
padding: 0px 0 0 20px !important;}

.rowpos {
padding: 0 20px 0 20px !important;}

.tbspace td {
padding: 3px 0 0 5px !important;}


.lbTextRight {
    text-align:right; 
    display:block;
}

.termocompos { margin: -30px 0 0 0;
}

.containermidle {
    /*border-radius: 0 0 4px 4px;*/
    margin: -67px 0 0 0;
    /*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);*/
    /*background-color: white;
    border: 1px solid #eeeeee;*/
    border-top: 0;
    /*padding: -10px;*/

}


.ContainerCommodities {margin: -60px 0 0 0; width:100%;
}


#DivLeftMoeda {
border-radius:5px;
border:1px solid #fff;
float: left; width:60%;  margin: 0 0 0 0;
min-height:310px;
}

/*Swap*/
#DivLeftSwap {
border-radius:5px;
border:1px solid #fff;
float: left; width:73%;  margin: 0 0 0 0;
min-height:310px;
}

#DivRighSwap {
float: right; width: 26%; margin: 0 0 0 0;
min-height:310px;
}


.colName {
    padding-top:1px;
    width:40%;
    float:left;
}

.colInput {
    width:60%;
    float:left;
}


.commoditiesBoxLeft {
border-radius:5px;
border:1px solid #fff;
float: left; width:44%;
}

#topo2 {
border-radius:5px;
border:1px solid #fff;
float: left; width:80%;  margin: 20px 0 0 0;
}

#DivRightMoeda {
float: right; width: 35%; margin: 0 0 0 0;
min-height:310px;
}

.tablerightMoeda {
min-height:310px;}

.tableLeftMoeda {
min-height:310px;
background:#fff;
}

.commoditiesBoxRight {
float: right; width: 55%; margin: 0 0 0 0;}

.paneltitle {
padding:5px;
background:#f7f7f7;
}

.paneltitle h2 {
font-size:15px;
font-family:Arial;
font-weight:bold;
}

.label {
    text-shadow: none !important;
    font-size: 13px;
    font-weight: 300;
    padding: 3px 6px 3px 6px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.label-Cotada, .label-Cotada td {
    background-color: #6394ec;
    color:#fff;
}


.label-Fechada, .label-Fechada td {
    background-color: #97fa97;
    color:#000;
}



.label-Excluida, .label-Excluida td {
    background-color: #ffde00;
    color:#000;
}

.label-Perdida, .label-Perdida td {
    background-color: #d9534f;
    color:#fff;
}

 form.ng-submitted input.ng-invalid {
    border: 1px solid #f00;
}

form.ng-submitted select.ng-invalid {
    border: 1px solid #f00;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#myModal{
            overflow-y: scroll;
        }